
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.icon{
  color: #cc8eb2;
}
.icon:hover{
  color: #9c508b;
}

.trans_btn{
  outline: none;
  border: none;
  background:transparent;
}

.searchBar{
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-color: #eaeaea;
  padding: 8px;
}

input{
  font-size: 18px;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
}

body{
  font-family:serif;
  font-weight: 11px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}



.dark-mode .ejaan-text {
  color: #fff;
}

.ejaan-text {
  color: #ba55ba;
}
.result {
  margin-top: 20px;
}

.result h2 {
  margin-bottom: 10px;
}

.result p {
  margin: 5px 0;
}

.navbar #select_font {
  border: none;
  color: #ba55ba;
  background: none;
  margin-right: 15px;
}


input:checked+.slider {
  background-color: #ffffff;
}

input:checked+.slider:before {
  transform: translateX(14px);
}

.slider{
  cursor: pointer;
  transition: .4s;
  border-radius: 34px;
  transition: .4s;
}

.slider:before {
  content: "";
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-button {
  cursor: pointer;
  font-size: 18px;
}

.toggle-container {
  align-items: center;
}

#select_font{
  font-family: serif;
  font-weight: 200;
}

.selection_container{
  display: inline-block;
  outline: none;
  border: none;
  background:transparent;
}

.navBar{
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
}
.container {
  max-width: 700px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}



/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }